<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="python, django, программирование, блог, software engineer, google, жизнь">

<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" media="all" href="/css/main.css"/>

<link rel="alternate" type="application/atom+xml" title="Блог - свежие записи" href="/feeds/entries/"/>

<title>{% if page.title %}{{ page.title }} - {% endif %}Блог Романа Ворушина</title>