<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="keywords" content="python, django, программирование, блог, software engineer, google, жизнь">
{% seo %}

<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">

{% feed_meta %}

<link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/css/main.css"/>

<title>{% if page.title %}{{ page.title }} - {% endif %}Блог Романа Ворушина</title>

<!-- Redirect http: to https: -->
<script>
if (window.location.host.substr(-10) == '.github.io' && window.location.protocol != 'https:') {
    window.location.protocol = 'https:';
}
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YGT4F5JNH7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YGT4F5JNH7');
</script>
