<!DOCTYPE html>
<html lang="ru">
<head>
  {% include head.html %}
</head>
<body>
	<div id="header" class="container">
	<h2 id="top_title">
	  <a href="/">Блог Романа Ворушина</a>
	  <a href="/feed.xml">
	     <img src="/img/feed-icon-14x14.png" id="feed_icon" alt="Блог - свежие записи (Atom)">
	  </a>
	</h2>
	<p>Программирование, машинное обучение, и жизнь</p>
	</div>
	<div class="container">{{ content }}</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11723567-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
